<!DOCTYPE html>
<html>
  <head>
    <!-- CSS & DESIGN -->
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../css/about.css">

    <!-- METADATA -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

    <!-- ICON -->
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
  </head>

 <body>
    <div class="about-section">
      <h1>About Us Page</h1>
      <h1><i>Introduction to the System Breakers</i></h1>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img class="profile" src="../images/team1.jpeg" alt="Lysandra" style="width:40%">
          <div class="container">
            <h2 style="text-align:center">୨⎯ Lysandra Belnavis-Walters ⎯୧</h2>
            <p>Hello, my name is Lysandra!</p><p>I am a first-year at UF. I like to work on projects, listen to music, and sleep. My parents came from Jamaica, and they are great people! As for myself, I have never left Florida.</p><p> I’m not sure how to make a good bio, but I tried!</p>
            <p>✵ I am currently finishing the show Better Call Saul. It’s a great show, and I would recommend everyone to watch it.</p>
            <p>✵ I like to sit in a garage and work on projects of mine. I can also translate little tidbits here and there in French! </p>
            <p>✵ My favorite numbers are three and five.</p>
            <p>lbelnaviswalters@ufl.edu</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="profile" src="../images/team2.jpg" alt="Meaghan" style="width:40%">
          <div class="container">
            <h2 style="text-align:center">୨⎯ Meaghan Estrada ⎯୧</h2>
            <p>Hey, I'm Meaghan, but feel free to call me Meg :-)</p><p>I'm an undergraduate student currently pursuing mathematics and computer science here at UF. At the moment, I'm invested in research focused on DSA here at the university and am a part-time mathematics teacher online. </p><p>My interests involve software, information security, and AI/ML. </p>
            <p>✵ I'm a huge Star Wars fan (favorite character <i>was</i> Andor) </p>
            <p>✵ I have two cats and one dog (great combo surprisingly)</p>
            <p>✵ I'm working in cyber security with NIST (<i>hello Maryland!</i>) and Bank of America (<i>hello Chicago!</i>)</p>
            <p>meaghanestrada@ufl.edu</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="profile" src="../images/team3.jpeg" alt="Evelyn" style="width:40%">
          <div class="container">
            <h2 style="text-align:center">୨⎯ Evelyn Meckley ⎯୧</h2>
            <p>Hi, I’m Evie!</p><p>I’m an undergraduate student studying computer science and English here at UF, which mostly means I read a lot of science fiction. In past semesters I was a learning assistant for calculus, and currently I’m involved in utopian studies.</p>
            <p>✵ My favorite book is David Mitchell’s Cloud Atlas. (Ask me about it. Seriously, ask me.)</p>
            <p>✵ I love audio dramas, particularly of the supernatural horror variety.</p>
            <p>✵ My favorite number is 42. (I’m a science fiction-fan cliché, I know.)</p>
            <p>emeckley@ufl.edu</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><button onclick="window.location.href = 'climateSearch.html';" id="home-button">HOME</button></div>
  </body>
</html>

